* {
    font-family: "Roboto Mono", monospace;
    font-weight: 444;
    font-style: normal;
}

body {
    background-color: black;
    color: white;
}

header {
    border-radius: 10px 10px 0 0;
    border: black solid 4px;
}

main {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 420px);
    border: black solid 4px;
    border-radius: 0 0 10px 10px;
    border-top: none;
    height: auto;
    overflow: auto;
    min-height: 60vh;
}

footer {
    display: block;
    float: left;
}

#banner {
    background-color: black;
    padding: 20px;
    text-align: center;
    position: relative;
    height: auto;
    overflow: auto;
}

#bannerImage {
    width: 75%;
    max-height: 300px;
    object-fit: cover;
    border: black solid 2px;
    border-radius: 10px;
    height: auto;
    overflow: auto;
}

.login {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    border: black solid 2px;
    padding: 5px;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: inherit;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #444;
    border-radius: 4px;
    border: black solid 1px;
    min-height: 40vh;
}

.navLink {
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    font-size: 44px;
}

.navLink:hover {
    background-color: #333;
}

.game {
    text-align: center;
    padding: 20px;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: auto;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.message {
    color: purple;
    font-size: 24px;
    animation-name: fadeOut;
    animation-duration: 5s;
    animation-fill-mode: forwards;
}

table {
    border-collapse: collapse;
}

td,
th {
    border: white solid 1px;
    padding: 8px;
}

ol {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: black;
    border-radius: 4px;
    border: black solid 1px;
}

li {
    justify-content: center;
    align-items: center;
}

.games-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    overflow: auto;
    text-align: center;
}

.play {
    border: black solid 1px;
    padding: 20px;
    font-size: 44px;
    background-color: #B22222;
    border-radius: 20px;
}

.play:hover {
    background-color: #9B1B1B;
}

.join,
.loginform,
.empires {
    border: black solid 1px;
    padding: 20px;
    font-size: 28px;
    background-color: #555;
    border-radius: 20px;
}

input, button {
    display: block;
    width: auto;
    margin: auto;
    margin-bottom: 20px;
}

.empires {
    display: block;
    text-align: center;
    padding: 20px;
}

.rules {
    font-size: 20px;
    text-align: left;
}

.collapsible {
    font-size: 36px;
}

#playButton {
    font-size: 36px;
}

